* {
  margin: 0;
  padding: 0;
}

.container {
  background-image: linear-gradient(rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.85)),
    url("https://www.publicdomainpictures.net/pictures/160000/velka/the-maze.jpg");
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

.container h1 {
  font-size: 60px;
  text-align: center;
  color: white;
  padding-top: 20px;
}

@keyframes slider {
  0% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(0px);
  }
}

.content {
  display: block;
  animation-name: slider;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  animation-delay: 0.5s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: none;
  animation-play-state: running;
}

#two {
  display: none;
}

#three {
  display: none;
}

#four {
  display: none;
}

#five {
  display: none;
}

.content p {
  max-width: 900px;
  border-radius: 5px;
  color: white;
  font-size: 18px;
  border: 1px solid white;
  padding: 2px 10px;
  margin: 30px auto;
}

.content p:hover {
  background-color: brown;
  color: white;
}

.intructionNumber {
  font-size: 40px;
  font-weight: 600;
  padding-right: 10px;
}
