* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  height: 100vh;
  width: full;
  background-image: url(../assets/images/help.jpg);
  background-attachment: fixed;
  background-size: 100% 100%;
}

.content {
  color: whitesmoke;
  text-align: center;
  padding-top: 90px;
  font-size: 27px;
  max-width: 1500px;
  margin: 0 auto;
}

.instructionList {
  text-align: left;
  padding-left: 18rem;
  padding-top: 50px;
  padding-right: 18rem;
}

li {
  padding-top: 20px;
}
